doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/select2.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascript/jquery-min.js')
    block header
  body
    block content
